@model IEnumerable<Department>

@{
    ViewData["Title"] = "Departments";
}

<h2 class="">
    Departamentos
</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>

</p>

<table class="table table-hover table-striped  ">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {Id = item.Id})
                @Html.ActionLink("Visualizar", "Edit", new {Id = item.Id})
                @Html.ActionLink("Deletar", "Edit", new {Id = item.Id})
            </td>

        </tr>
    }
    </tbody>

</table>